$media-size: (768px, 576px, 500px, 400px);

.linksSection {
  display: flex;
  gap: 2.4rem;

  a {
    display: block;
    min-width: max-content;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  @for $i from 1 through 4 {
    @media screen and (max-width: nth($media-size, $i)) {
      & a:nth-last-child(#{$i + 1}) {
        display: none;
        background: red;
      }
    }
  }
}
