@import "../../variables.scss";

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 3.2rem 2.4rem 3.2rem;
  gap: 4rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bgcolor-primary;
  color: $link-color-primary;
  height: 5rem;
  &:hover {
    color: $link-color-hover;
  }
}
