@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  font-size: 62.5%;
  background: #fff;
}

body {
  font-size: 16px;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $text-color-primary;
  background: $bgcolor-secondary;
}

h1 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.8rem;
}

h2 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.8rem;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.bg {
  &-primary {
    background: $bgcolor-primary;
  }
  &-secondary {
    background: $bgcolor-secondary;
  }
}

.hidden {
  display: none;
}

.section-content {
  padding: 3.2rem;
}

button {
  max-width: max-content;
  cursor: pointer;
  background: $bgcolor-primary;
  border: 1px solid $bgcolor-secondary;
  outline: none;
  color: $text-color-primary;
  padding: 0.8rem 2.4rem;
}
