$bgcolor-primary: #252b40;
$bgcolor-secondary: #ffffff;

$text-color-primary: $bgcolor-secondary;
$text-color-secondary: $bgcolor-primary;

$link-color-primary: rgba(255, 255, 255, 0.7);
$link-color-active: #fec017;
$link-color-hover: $text-color-primary;
$link-color-hover-active: #f6dd9f;
