.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.searchContainer {
  min-width: 20rem;
  max-width: 33.6rem;
  width: 100%;
}
