@import "../../variables";

.root {
  text-decoration: none;
  transition-duration: 300ms;
  cursor: pointer;
  color: $link-color-primary;
  user-select: none;
  &:hover {
    color: $link-color-hover;
  }
}

.active {
  color: $link-color-active;
  &:hover {
    color: $link-color-hover-active;
  }
}

.disabled {
  opacity: 0.5;
  cursor: progress;
}
